<%=@time.inspect%> </br>
<%="Day of week #{@time.wday + 1}"%> </br>
<%="Last date of month #{@last_date_of_month}"%> </br>

<%=link_to "<<prev", calender_path(:year => @previous_year, :month => @previous_month)%>
<%=link_to "next>>", calender_path(:year => @next_year, :month => @next_month)%>
<table>
	<tr>
		<th>Sun</th>
		<th>Mon</th>
		<th>Tue</th>
		<th>Wed</th>
		<th>Thu</th>
		<th>Fri</th>
		<th>Sat</th>
	</tr>	
	<%=@str.html_safe%>
</table>

